.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --font-accent-color: #FF0070;
  --styling-accent-color: #FF0070;
  --bg-accent-color: #FF0070;
  --styling-accent-color-semitransparent: #FF007066;
  --link-accent-color: #FF0070;
  --primary-text-color: #DB00FF;
  --secondary-text-color: #FF0070;
  --tertiary-text-color: #000028;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__decoration {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}
