.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --font-accent-color: #FF0070;
  --styling-accent-color: #FF0070;
  --bg-accent-color: #FF0070;
  --styling-accent-color-semitransparent: #FF007066;
  --link-accent-color: #FF0070;
  --primary-text-color: #DB00FF;
  --secondary-text-color: #FF0070;
  --tertiary-text-color: #000028;
  background-color: var(--bg-color, #000028);
  background: url(../images/cover-image-dark.png) no-repeat center / cover;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --font-accent-color: #FF0070;
    --styling-accent-color: #FF0070;
    --bg-accent-color: #FF0070;
    --styling-accent-color-semitransparent: #FF007066;
    --link-accent-color: #FF0070;
    --primary-text-color: #DB00FF;
    --secondary-text-color: #FF0070;
    --tertiary-text-color: #000028;
  }

  .page {
    background-color: var(--bg-color, #000028);
    background: url(../images/cover-image-dark.png) no-repeat center / cover;
    background-attachment: fixed;
  }
}
