.page.theme_light {
  --bg-color: #FDF2F7;
  --text-color: #353430;
  --font-accent-color: #FF0070;
  --styling-accent-color: #353430;
  --bg-accent-color: #FF8DCB;
  --styling-accent-color-semitransparent: #35343066;
  --link-accent-color: #F1B2CE;
  --primary-text-color: #FFC2E6;
  --secondary-text-color: #353430;
  --tertiary-text-color: #353430;
  background: url(../images/cover-image-light.png) no-repeat center / cover;
  background-attachment: fixed;
}

.theme_light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FDF2F7;
    --text-color: #353430;
    --font-accent-color: #FF0070;
    --styling-accent-color: #353430;
    --bg-accent-color: #FF8DCB;
    --styling-accent-color-semitransparent: #35343066;
    --link-accent-color: #F1B2CE;
    --primary-text-color: #FFC2E6;
    --secondary-text-color: #353430;
    --tertiary-text-color: #353430;
  }

  .page {
    background: url(../images/cover-image-light.png) no-repeat center / cover;
    background-attachment: fixed;
  }

  .header__decoration {
    display: none;
  }
}
