.page {
  font-family: var(--main-font, monospace, sans-serif);
  color: var(--text-color, #F1B2CE);
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, minmax(min-content, auto));
  gap: var(--header-gap, 55px);
  position: relative;
  padding: var(--padding-page, 10px);
}

.header__theme-menu {
  grid-row: 2 / 3;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__title {
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
}

.header__text {
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: end;
  max-inline-size: 364px;
  max-block-size: min-content;
}

.header__theme-menu-button {
  font-family: inherit;
  font-size: var(--main-font-size, 18px);
  line-height: 1;
  font-weight: normal;
  color: var(--secondary-text-color, #FF0070);
  background: transparent;
  text-transform: lowercase;
  border: none;
  width: 100%;
  text-align: center;
  padding: var(--padding-button, 3px 13px 5px);
  cursor: pointer;
}

.header__theme-menu-button_active {
  padding: var(--padding-button-reduced, 2px 12px 4px);
  border: 1px solid var(--styling-accent-color, #FF0070);
}

.header__theme-menu-button:disabled {
  cursor: auto;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  padding: var(--padding-button-reduced, 2px 12px 4px);
  border: 1px solid var(--styling-accent-color-semitransparent, #FF007066);
}

.header__theme-menu-button:focus-visible {
  padding: var(--padding-button-bottom-reduced, 3px 13px 4px);
  border-block-end: 1px solid var(--styling-accent-color, #FF0070);
}

.slogan {
  font-size: var(--main-heading-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: 82.5%;
  font-weight: bold;
  color: var(--primary-text-color, #DB00FF);
  text-shadow: 3px 3px 0 var(--font-accent-color, #FF0070);
}

.heading {
  font-size: var(--main-font-size, 18px);
  line-height: 1.3;
  font-weight: bold;
  color: var(--secondary-text-color, #FF0070);
}

.text-accent {
  background-color: var(--bg-accent-color, #FF0070);
  color: var(--tertiary-text-color, #000028);
}

.header__line {
  display: inline-block;
}

.header__decoration {
  position: absolute;
  text-transform: uppercase;
  font-size: var(--main-font-size, 18px);
  font-weight: normal;
  color: var(--secondary-text-color, #FF0070);
  inset-inline-end: calc(28px + var(--padding-page, 10px));
  inset-block-start: calc(2px + var(--padding-page, 10px));
}

.header__decoration::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--styling-accent-color, #FF0070);
  inset-inline-end: -19px;
  inset-block-start: 7px;
  box-shadow: 0 0 4px 2px var(--styling-accent-color, #FF0070);
}

.styling-corners::before,
.styling-corners::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.styling-corners::before {
  inset-inline-end: var(--padding-page, 10px);
  inset-block-start: var(--padding-page, 10px);
  border-inline-end: 1px solid var(--styling-accent-color, #FF0070);
  border-block-start: 1px solid var(--styling-accent-color, #FF0070);
}

.styling-corners::after {
  inset-inline-start: var(--padding-page, 10px);
  inset-block-end: var(--padding-page, 10px);
  border-inline-start: 1px solid var(--styling-accent-color, #FF0070);
  border-block-end: 1px solid var(--styling-accent-color, #FF0070);
}

.main {
  padding: var(--padding-main, 40px) var(--padding-page, 10px);
  display: flex;
  flex-direction: column;
  gap: var(--main-gap, 50px);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__heading {
  font-weight: normal;
  background-color: var(--bg-accent-color, #FF0070);
  color: var(--tertiary-text-color, #000028);
}

.text {
  font-size: var(--main-font-size, 18px);
  font-weight: normal;
  line-height: 1.3;
}

.text__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--link-accent-color, #FF0070);
}

.text__link:hover {
  border-block-end: 1px solid var(--text-color, #F1B2CE);
}

.text__link:focus-visible {
  border: 1px solid var(--text-color, #F1B2CE);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(0, auto));
  gap: var(--gallery-gap, 10px);
}

.gallery__picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: var(--padding-page, 10px);
}

@media (width >= 768px) {
  :root {
    --padding-page: 20px;
    --padding-main: 60px;
    --header-gap: 162px;
    --main-gap: 80px;
    --gallery-gap: 20px;
    --main-heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding: var(--padding-page, 20px) var(--padding-page, 20px) var(--padding-page, 20px) 0;
  }

  .header__text {
    margin-inline-start: 51%;
    max-inline-size: 491px;
  }

  .section_problem {
    display: grid;
    grid-template-columns: 1fr 65%;
    grid-template-rows: repeat(auto-fit, minmax(0, auto));
  }

  .section_problem .heading {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .section_problem .card {
    grid-column: 2 / 3;
    grid-row: span 1;
  }

  .section_solution {
    display: grid;
    grid-template-columns: 1fr 65%;
    grid-template-rows: repeat(auto-fit, minmax(0, auto));
  }

  .section_solution .heading {
    grid-column: 1 / 2;
    grid-row: span 1;
  }

  .section_solution .card {
    grid-column: 1 / 3;
    grid-row: span 1;
  }

  .section_advice {
    display: grid;
    grid-template-columns: 1fr 65%;
    grid-template-rows: repeat(auto-fit, minmax(0, auto));
  }

  .section_advice .section__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
  }

  .section_advice .card,
  .section_advice .articles__heading {
    grid-column: 2 / 3;
    grid-row: span 1;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery .heading {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .landscape-start {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .portrait-end {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .portrait-start {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .square-center {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .landscape-end {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

@media (width >= 1024px) {
  :root {
    --header-gap: 114px;
  }

  .header__title {
    align-items: end;
    margin-block-start: 45px;
  }

  .header__theme-menu {
    grid-row: 1 / 2;
    justify-content: center;
    align-items: start;
    padding-inline-start: 20px;
    margin: 0;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .section_problem {
    grid-template-columns: 1fr 66%;
  }

  .section_solution {
    grid-template-columns: repeat(3, 1fr);
  }

  .section_solution .heading {
    grid-column: 1 / 4;
  }

  .section_solution .card {
    grid-column: span 1;
    grid-row: span 1;
  }

  .section_advice {
    grid-template-columns: 1fr 66%;
  }
}





