:root {
  --main-font: 'IBM Plex mono';
  --text-color: #F1B2CE;
  --font-accent-color: #FF0070;
  --styling-accent-color: #FF0070;
  --bg-accent-color: #FF0070;
  --styling-accent-color-semitransparent: #FF007066;
  --link-accent-color: #FF0070;
  --primary-text-color: #DB00FF;
  --secondary-text-color: #FF0070;
  --tertiary-text-color: #000028;
  --main-font-size: 18px;

  --padding-page: 10px;
  --padding-main: 40px;
  --header-gap: 55px;
  --main-gap: 50px;
  --gallery-gap: 10px;
  --main-heading-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
